img{
    width: 27%;
    border-radius: 10%
}
.main{
    text-align:center;
    width: 40%;
	margin: auto;
	padding: 50px;
	margin-bottom: 50px;
	box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    font-family: "Serif";
    border-bottom: 5px solid black;

}
.title{
	 margin-top: 20px;
 }

ul{
    padding-left: 10%;
    font-size: 24px;
}
h1{
  
	text-align: center;
}
*{
    background-color:white;
}

.student{
    font-size: 24px;
    border-bottom: 2px solid darkgray;
    padding-right: 12%
}
.work{
    font-size: 24px;
    border-bottom: 2px solid darkgray;
}


.image{
    text-align:center



      }
li{
    text-align:left;

}
.back{
    font-size: 24px;

    padding-right: 23%
}
.back2{
    padding-right: 46%
}
.profile{
    font-size: 24px;
    border-bottom: 2px solid darkgray;
    padding-right: 47%

}
.frontend{
    font-size: 24px;
    padding-right: 25%;
}
.number1{
    font-size: 24px;
    padding-right: 33%
}
.number2{
    padding-right: 31%
}
a{
    padding-right: 17%
}